.page-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.page-1 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: url("../assets/backdrop.png");
  background-size: cover;
  z-index: 1;
}

@media screen and (max-width: 1239px) {
  .page-1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: url("../assets/md-backdrop.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
  }

  .text-wrapper {
    margin-right: 0%;
    margin-top: 10%;
    text-align: center;
  }

  .page-1 .text-wrapper .page-header {
    font-family: "Avenir";
    color: white;
    font-weight: bold;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px #ff0000;
  }
}

/* 
.side-background {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-content: space-around;
}

.side-background .card {
  width: 30vw;
  height: 20vh;
  background-color: #f6f6f6;
  padding: 1vh 2vw;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border: 2px dashed #ccc;
  margin-top: 5vh;
  margin-left: 3vw;
}

.side-background .card .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.side-background .card .row .name {
  font-family: "Avenir";
  font-weight: 600;
}

.side-background .card .row .rating .pi {
  color: orange;
  padding: 2px;
}

.side-background .card .content {
  margin-top: 2vh;
} */

.text-wrapper {
  margin-right: 7%;
}

.page-1 .text-wrapper .page-header {
  font-family: "Avenir";
  color: white;
  font-weight: bold;
  font-size: 3vw;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px #ff0000;
}

.page-1 .text-wrapper .page-header span {
  font-family: "Avenir";
}

.text-wrapper .subheader {
  color: #fff;
  margin-top: 4px;
  font-size: 16px;
}

.page-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-top: 5px solid #fff;
}

.page-2 .header {
  font-family: "Avenir";
  font-size: 2rem;
  width: 100vw;
  text-align: center;
  color: #fff;
}

.cards {
  position: absolute;
  left: 0;
  top: 30%;
  width: 200vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: all 1s;
}

.page-2 .card .img {
  height: 8vh;
  width: calc(8vh * 3.52);
}

.page-2 .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 25vw;
  height: 40vh;
  border-radius: 8px;
  transform-style: preserve-3d;
  border: 1px dashed #717171;
  /* transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX)); */
  transition: all 0.5s;
  box-shadow: 4px 4px #676767;
}

.page-2 .card:hover {
  background-color: rgb(40, 40, 40);
}

.page-2 .card .title {
  position: absolute;
  top: 0;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Avenir";
}

.icon-wrapper {
  margin-top: 5%;
}

.page-2 .card .icon {
  color: #717171;
  font-size: 2.5rem;
}

.page-2 .card .content {
  font-family: "Avenir";
  color: #717171;
  text-align: left;
  width: 70%;
}

.page-3 {
  background-color: #e6eae6;
}

.page-3 h1 {
  font-family: "Avenir";
  padding-top: 3vh;
  padding-left: 1vw;
}

.page-3 .short-answer,
.long-answer {
  padding-left: 1vw;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 999px) {
  .cards {
    position: absolute;
    left: 0;
    top: 30%;
    width: 300vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 1s;
  }

  .page-2 .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 40vw;
    height: 40vh;
    border-radius: 8px;
    transform-style: preserve-3d;
    border: 1px dashed #717171;
    /* transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX)); */
    transition: all 0.5s;
    box-shadow: 4px 4px #676767;
  }
}

@media screen and (max-width: 714px) {
  .cards {
    position: absolute;
    left: 0;
    top: 30%;
    width: 600vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 1s;
  }

  .page-2 .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 80vw;
    height: 40vh;
    border-radius: 8px;
    transform-style: preserve-3d;
    border: 1px dashed #717171;
    /* transform: perspective(5000px) rotateY(var(--rotateY)) rotateX(var(--rotateX)); */
    transition: all 0.5s;
    box-shadow: 4px 4px #676767;
  }
}

.page-3 {
  background-color: #fff;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100vh;
}

.page-3 .header {
  color: #000;
}

.page-3 ul {
  font-family: "Avenir";
  font-weight: normal;
}

.page-3 .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.page-3 .content .secure {
  font-family: "Avenir";
}
