.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  height: 6vh;
  background: transparent;
  z-index: 2;
  transition: all 0.5s;
}

.nav.opaque {
  background: #fff;
  border-bottom: 1px solid #000;
}

.nav .logo {
  margin: 0;
  padding: 16px;
}

.nav .menu-icon {
  margin: 0;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.25s;
}

.nav .menu-icon:hover {
  background-color: #d6d6d6;
}

.sidebar {
  height: 100vh;
  width: 20vw;
  background-color: #fff;
  position: absolute;
  top: 0;
  transition: 0.75s;
  z-index: 4;
  border-right: 1px solid #000;
}

.sidebar .close {
  float: right;
  margin: 12px;
  transition: 0.25s;
  color: #828282;
  cursor: pointer;
}

.sidebar .close:hover {
  color: #424242;
}

.sidebar.hidden {
  left: -20vw;
}

.sidebar.show {
  left: 0;
}

.sidebar .nav-list {
  list-style: none;
  padding-left: 0;
  margin-top: 5vh;
}

.nav-list .nav-item {
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.25s;
  width: 80%;
  border-radius: 0 8px 8px 0;
}

.nav-item:hover {
  background-color: #d6d6d6;
}

.nav-item.nav-separator {
  padding: 0;
  margin: 4px;
  height: 1px;
  width: 90%;
  background-color: #a4a4a4;
}

.outlet-wrapper {
  z-index: 3;
  width: 100vw;
  height: 100vh;
  transition: 0.75s;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.outlet-wrapper.overlay {
  opacity: 0.5;
  background-color: rgb(149, 144, 144);
}
