@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Avenir:wght@400;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  overflow-y: auto;
}

* {
  font-family: "Quicksand";
}

kbd {
  font-family: "Source Code Pro";
}

.button {
  border-radius: 24px;
  background-color: #fff;
  font-size: 13px;
  padding: 16px;
  border: 1px solid #000;
  transition: all 0.5s;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #d5d5d5;
}
